<html>
<body>

<head>
<title>Emotion Recognition</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<div class="jumbotron text-center">

  <div class="container">
    
    <h1>Real-Time Emotion Recognition System</h1>
    
  </div>
</div>
<div class="container"> 
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Here We go !</h2>
    </div>
  </div>
</div>
<div class="row">
    <a href="/video_feed" class="btn btn-sm animated-button victoria-two">Identify Me</a> 
</div>

</body>
</html>
